<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change Password Error page</title>
</head>

<body>
    <h1>
        You entered incorrect data! Please retry your action again.
    </h1>
    <div class="form">
        <form method="post" action="/userLoginPage" th:object="${loginRequest}">
            <h2>Login</h2>
            <div class="input-box">
                <input type="text" name="email" placeholder="Email" required>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="input-box">
                <input type="submit" value="Login">
            </div>
            <a href="/userPersonalPage">Go back to Personal Page</a>
        </form>
    </div>
</body>

</html>