<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Feedback Dashboard</title>
</head>

<body>
    <main>
        <h1>Want to share a Feedback about our Wildcat Innovation Lab?</h1>
        <ul>
            <li th:each="feedback : ${feedbacks}">
                <span th:text="${feedback.feedbackContent}"></span>
                <span> by </span>
                <span th:text="${feedback.userLogin}"></span>
            </li>
        </ul>
        <a href="/userLoginPage">Click here to Login first</a>
        <a href="/feedbackDashboard">Show Feedbacks</a>
    </main>
</body>

</html>