html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
  }
.image-container img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    display: block;
  }

/* NAV BAR */
.nav {
    display: flex; /* Add this line */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 2.5%; /* Add some padding above the nav */
    font-family: arial;
    font-size: 15px;
    background-color: transparent; /* Default transparent background */
    transition: background-color 0.3s, padding-top 0.4s; /* Smooth transition for background color */
}

.nav.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Opaque background on scroll */
    padding-top: 1%; /* Add some padding above the nav */
}

.logo-image img {
    height: 60px; /* Adjust the height as needed */
    width: auto; /* Let the width adjust proportionally */
    margin: 10px;
}

ul.navbar-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px; /* Adjust as needed */
    padding-left: 6.3%; /* Add some padding to the left of the nav */
}

ul.navbar-links li {
    margin: 0 15px; /* Reduce the spacing between the links */
}

@media (max-width: 768px) {
    ul.navbar-links {
        flex-direction: column;
    }

    ul.navbar-links li {
        margin: 5px 0;
    }
}

ul.navbar-links a {
    color: #9E9E9E; /* Set the text color to black */
    text-decoration: none; /* Remove the underline from the hyperlinks */
}

ul.navbar-links a:hover {
    text-decoration: underline; /* Add an underline on hover */
}

.auth {
    margin-left: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.auth a {
    margin-left: 15px;
    color: #9E9E9E;
    text-decoration: none;
}

.auth a:hover {
    text-decoration: underline;
}

